.header__menu {
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}

.menu__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
}
.menu__item {
  position: relative;
  padding: 1.25rem 0;
  cursor: pointer;
}
.menu__item-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__item:not(:last-child) {
  margin-right: 2rem;
}
.menu__item-text {
  margin-right: 0.25rem;
}
.menu-item__fall-items {
  background-color: white;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 176px;
  padding: 1.25rem;
  display: none;
  font-weight: 500;
}
.menu-item__fall-item {
  display: flex;
  justify-content: space-between;
}
.menu-item__fall-item:hover {
  color: #969696;
  padding-left: 0.9375rem;
}
.menu-item__fall-item:not(:last-child) {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 0.5rem;
}
.menu__item:hover .menu-item__fall-items {
  display: initial;
}

.header-menu__icon {
  display: none;
}
.menu__top {
  display: none;
}
@media (max-width: 767px) {
  .header-menu__icon {
    display: initial;
    position: absolute;
    left: calc(0% + 0.625rem);

    top: 0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 30%;
    background-color: white;
    transition: transform 0.2s linear;
    transform: translate(-130%, 0px);
    overflow-y: scroll;
  }
  .header__menu.active {
    transform: translate(0%, 0px);
  }
  .menu_container {
    padding: 2rem 1.25rem 0;
  }
  .menu__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__item:not(:last-child) {
    margin-right: 0px;
  }
  .menu-item__fall-items {
    position: sticky;

    left: 100%;
    top: 100%;
  }

  .blur {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    filter: blur(2px);
    z-index: 0;

    /* background-color: #969696; */
  }
  .menu__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
  }
  .menu__top-borger {
    width: 1.125rem;
    height: 1.125rem;
  }
  .menu__top-logo {
    width: 10.0625rem;
    height: 1.5rem;
  }
}
